.container-tempo {
  background-color: rgba(240, 240, 240, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
}

h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.tempo-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tempo-info p {
  font-weight: bold;
  font-size: 1.5rem;
}

.descricao {
  text-transform: capitalize;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.tempo-detalhes {
  display: flex;
  justify-content: space-around;
}